# Swift Package Manager
.build/
*.resolved
.swiftpm/
.docs/

# Claude Code
.claude/settings.local.json

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xccheckout
*.xcscmblueprint
DerivedData/
.DS_Store
